mlops/n8n-workflows/templates/gmail-dispatch-workflow.json
{
  "name": "Gmail Dispatch — Intelligente Email-Weiterleitung",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "name": "Gmail Poll",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nreturn [{\n  json: {\n    subject: email.subject || '(Kein Betreff)',\n    from: email.from || '(Unbekannt)',\n    snippet: (email.textPreview || email.snippet || '').substring(0, 500),\n    messageId: email.id,\n    threadId: email.threadId,\n    date: new Date(email.receivedDate || email.date || Date.now()).toISOString()\n  }\n}];"
      },
      "name": "Email parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst from = (email.from || '').toLowerCase();\nconst subject = (email.subject || '').toLowerCase();\n\nconst importantSenders = ['michel', 'goetschi', 'conradin', 'andri', 'rebelone', 'rebel.one'];\nconst spamWords = ['unsubscribe', 'newsletter', 'werbung', 'marketing'];\n\nconst isImportant = importantSenders.some(s => from.includes(s));\nconst isSpam = spamWords.some(w => subject.includes(w));\n\nreturn [{\n  json: {\n    ...email,\n    isImportant: isImportant,\n    isSpam: isSpam,\n    priority: isImportant ? 'high' : (isSpam ? 'low' : 'medium')\n  }\n}];"
      },
      "name": "Priorität",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "rule-spam",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "name": "Spam Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 250]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {action: 'ignored_spam', ...$input.first().json}}];"
      },
      "name": "Spam Log",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 2,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "prompt": "={{ 'Klassifiziere diese Email in einer der Kategorien: PRIVAT, ARBEIT, RECHNUNG, TRADING, TECHNIK, SONSTIGES. Antworte NUR mit einem Wort (GROSSBUCHSTABEN).\\n\\nVon: ' + $json.from + '\\nBetreff: ' + $json.subject + '\\nVorschau: ' + $json.snippet }}",
        "options": {
          "temperature": 0.1,
          "maxTokens": 50
        }
      },
      "name": "LLM Klassifikation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst llmText = ($input.all()[1]?.json?.response || '').trim();\nconst category = ['PRIVAT','ARBEIT','RECHNUNG','TRADING','TECHNIK'].includes(llmText) ? llmText : 'SONSTIGES';\n\nreturn [{\n  json: {\n    subject: email.subject,\n    from: email.from,\n    date: email.date,\n    category: category,\n    summary: email.snippet.substring(0, 200)\n  }\n}];"
      },
      "name": "Result parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "text": "={{ '*[' + $json.category + ']* ' + $json.from + '\\n' + $json.subject }}",
        "additionalFields": {
          "parseMode": "markdown"
        }
      },
      "name": "Telegram Michel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 2,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Gmail Poll": {
      "main": [[{"node": "Email parsen", "type": "main", "index": 0}]]
    },
    "Email parsen": {
      "main": [[{"node": "Priorität", "type": "main", "index": 0}]]
    },
    "Priorität": {
      "main": [[{"node": "Spam Filter", "type": "main", "index": 0}]]
    },
    "Spam Filter": {
      "main": [
        [{"node": "Spam Log", "type": "main", "index": 0}],
        [{"node": "LLM Klassifikation", "type": "main", "index": 0}]
      ]
    },
    "LLM Klassifikation": {
      "main": [[{"node": "Result parsen", "type": "main", "index": 0}]]
    },
    "Result parsen": {
      "main": [[{"node": "Telegram Michel", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": ["gmail", "dispatch", "llm"]
}